.search-wrap {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.land-image {
    background-image: url(https://www.outsideonline.com/sites/default/files/styles/full-page/public/2020/02/10/2020-jmt-southernyosemitemountainguides_h.jpg?itok=k2MXxQyx);
    background-size: 100%;
}

.over-img {
    background-color: white;
    width: fit-content;
    margin: 0 auto;
}

.city-search {
    width: 35%;
}

.center-yourself {
    margin: 0 auto;
    width: 65%;
}
.trail-name{
    font-size: 18px;
}
.leaflet-popup-content-wrapper {
    width: 300px;
}
.popup-button{
    color: blue;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  #close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close-modal:hover,
  #close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }