/* MULTIPLE HTML PAGES */
/* _____________________________________________________________________________________________________________ */
body {
    font-family: 'Open Sans', sans-serif;
}

.green-back {
    background-color: rgb(127, 197, 47) !important;
}

.green-color {
    color: rgb(127, 197, 47);
}

.purple-color {
    color: rgb(170, 156, 192) !important;
}

.purple-back {
    background-color: rgb(170, 156, 192) !important;
}

.logo-text:hover {
    color: rgb(170, 156, 192) !important;
    cursor: pointer;
}

.logo-text {
    font-family: 'Margarine', cursive;
    font-size: 1.75rem;
    text-shadow: -1.1px 1.1px black, -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.logo-text-med {
    font-family: 'Margarine', cursive;
    text-shadow: -2px 2px black, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 0;
    font-size: 4rem;
}

.app-button {
    font-size: 1.25rem;
    border-radius: 1.5rem;
    /* text-shadow: 0; */
    text-shadow: -1px 1px rgba(0, 0, 0, 0.308);
}

.nav-app-button {
    font-size: 1.15rem;
    border-radius: 1.25rem;
    /* text-shadow: 0; */
    text-shadow: -1px 1px rgba(0, 0, 0, 0.308);
}

.app-button:hover, .nav-app-button:hover {
    background-color: rgb(170, 156, 192);

}

#hamburger {
    background-color:rgb(170, 156, 192);
    border-radius: 1rem !important;
    margin-top: 0.5rem !important;
    margin-right: 0.5rem !important;
}

#navbarMenuHeroC {
    background-color: transparent;
    align-content: center;
    box-shadow: none;
    text-align: right;
}

/* text on img backgrounds */
.over-img {
    color: white;
    font-size: 1.25rem;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.308);
}

#menu-nav {
    font-size: 1.15rem;
}

#menu-nav:hover {
    color: rgb(170, 156, 192);
    background-color: transparent !important;
}

/* background image for fullheight heros */
.land-image {
    background-image: url(https://images.discerningassets.com/image/upload/q_auto:best/v1569332992/Wolf_Mountain_Sunset_crramv.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-attachment: fixed;
}

/* background image for regular heros */
.land-image2 {
    background-image: url(https://images.discerningassets.com/image/upload/q_auto:best/v1569332992/Wolf_Mountain_Sunset_crramv.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
    background-attachment: fixed;
}

/* HOME.HTML LANDING PAGE*/
/* _____________________________________________________________________________________________________________ */
.over-img-sub {
    width: fit-content;
    color: white;
    margin: 0 auto;
    margin-bottom: 0.75rem !important;
    font-size: 1.75rem;
    text-shadow: -1px 1px black, -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.logo-text-big1 {
    font-family: 'Margarine', cursive;
    text-shadow: -3px 3px black, -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-bottom: 0 !important;
    padding: 0;
    font-size: 8rem;
}

.logo-text-big2 {
    font-family: 'Margarine', cursive;
    text-shadow: -3px 3px black, -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding: 0;
    margin-top: -1.5rem !important;
    font-size: 8rem;
}

/* BOTH VIEW-PROFILE HTMLS */
/* _____________________________________________________________________________________________________________ */


/* BOTH TRAIL-SEARCH HTMLS */
/* _____________________________________________________________________________________________________________ */
.search-wrap {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

/* rename: city-search-input*/
.city-search {
    border-radius: 1rem;
    width: 20rem;
}

@media only screen and (max-width: 493px) {
    .city-search {
        border-radius: 2rem;
        width: 70%;
    }
}

#map-button {
    color: white;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.trail-name{
    font-size: 18px;
    font-family: "'Open Sans', sans-serif" !important;
    color: black !important;
    text-shadow: 0 !important;
}

.leaflet-popup-content-wrapper {
    width: 300px;
}

.popup-button{
    color: blue;
}

.logo-sub {
    font-family: "Margarine", cursive;
    font-size: 2rem;
    color: white;
    margin-top: -2rem;
    text-shadow: -1.5px 1.5px black, -0.9px 0 black, 0 0.9px black, 0.9px 0 black, 0 -0.9px black;
}

/* SIGN UP / LOG IN HTMLS */
/* _____________________________________________________________________________________________________________ */
.center-yourself {
    margin: 0 auto;
    width: 40rem;
}

@media only screen and (max-width: 645px) {
    .center-yourself {
        margin: 0 auto;
        width: 95%;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
#close-modal {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
  
#close-modal:hover,
#close-modal:focus {
color: black;
text-decoration: none;
cursor: pointer;
}