.search-wrap {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.land-image {
    background-image: url(https://www.outsideonline.com/sites/default/files/styles/full-page/public/2020/02/10/2020-jmt-southernyosemitemountainguides_h.jpg?itok=k2MXxQyx);
    background-size: 100%;
}

.over-img {
    background-color: white;
    width: fit-content;
    margin: 0 auto;
}

.city-search {
    width: 35%;
}

.center-yourself {
    margin: 0 auto;
    width: 65%;
}